NODE_ENV=development

DOMAIN=http://localhost:3000
PORT=8080

NODE_TLS_REJECT_UNAUTHORIZED=0

TZ=Asia/Tokyo

# Postgres for tokyomap
DB_HOST=localhost
DB_PORT=5433 # 5432 is used by postgres in minikube
DB_DATABASE=tokyomap
DB_USER=postgres
DB_PASSWORD=postgres

# Redis for tokyomap
REDIS_HOST=localhost
REDIS_PORT=6379

# Idp/Resource Ingresses
IDP_DOMAIN=https://tallyme-idp.localhost
RESOURCE_DOMAIN=https://tallyme-resource.localhost

SESSION_KEY=tokyomap.dev.sid
SESSION_SECRET=dev_dummy_session_secret_12345

CLIENT_ID=dev_dummy_client_id
CLIENT_SECRET=dev_dummy_client_secret
REGISTRATION_ACCESS_TOKEN=dev_dummy_reg_token
REGISTRATION_CLIENT_URI=https://tallyme-idp.localhost/auth/api/v1/client/dev_dummy_client_id
